@use "../../stylesheets/abstracts/variables" as v;
@use "../../stylesheets/abstracts/mixins" as m;

.hp__container {
  padding-top: 4rem;
  overflow: hidden;
}

.hp__title {
  text-align: center;
  background-color: v.$gray-200;
  margin: 0;
  padding: 1.1rem;
}

@include m.mobile {
  .pc__text_container:nth-child(even) {
    flex-direction: column-reverse;
  }
}
