@use "../../stylesheets/abstracts/variables" as v;
@use "../../stylesheets/abstracts/mixins" as m;

.pc__container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  background-color: blue;
  height: 85vh;
}

.pc__text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 35%;
  line-height: 2;

  p {
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    width: 70%;
    margin: 20px auto;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
}

.pc__img_container {
  background-color: cyan;
  flex-basis: 65%;
  background-position: center;
  background-size: cover;
}

.pc__light_theme {
  background-color: white;
  color: black;
}

.pc__dark_theme {
  background-color: black;
  color: white;

  p {
    opacity: 0.8;
  }
}

@include m.mobile {
  .pc__container {
    flex-direction: column;
    height: auto;
  }

  .pc__text_container {
    flex-basis: auto;
    flex-grow: 1;
    padding: 10px;
    min-height: 500px;
  }

  .pc__img_container {
    flex-basis: auto;
  }
}

// Target 2nd 4th and 6th... even containers and do reverse direction for mobile layouts
