.pc__container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  background-color: blue;
  height: 85vh;
}

.pc__text_container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 35%;
  p {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    width: 70%;
    margin: 20px auto;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
}

.pc__img_container {
  background-color: cyan;
  flex-basis: 65%;
}

.pc__light_theme {
  background-color: white;
  color: black;
}

.pc__dark_theme {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 750px) {
  .pc__container {
    flex-direction: column;
  }
  .pc__text_container {
  }
}
