@use "../../stylesheets/abstracts/variables" as v;
@use "../../stylesheets/abstracts/mixins" as m;

.fr__container {
  background-color: black;
  color: white;
  padding: 50px 200px;
  display: flex;
  justify-content: space-between;
}

.fr__left_container {
  display: flex;

  // targetting logo
  img {
    color: white;
  }
}

.fr__left_container > * {
  margin-bottom: 50px;
  margin-right: 50px;
}

.fr__left_container_links {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: white;

    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    transition: transform ease-in 0.15s;
  }

  a:hover {
    color: v.$primaryColor1;
    font-weight: bold;
    transform: scale(200%) rotate(-20deg);
  }
}

.fr__left_container_main_social {
  margin: 50px auto;

  a {
    margin-right: 10px;
    width: 3rem;
    height: 3rem;
  }

  // Selecting all the icons
  a > * {
    color: white;
    width: 30px;
    height: 30px;

    &:hover {
      color: v.$primaryColor1;
      background-color: white;
    }
  }
}

.fr__icon {
  width: 30px;
  height: 30px;
}

@include m.mobile {
  .fr__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .fr__left_container {
    display: flex;
    flex-direction: column;
  }

  .fr__left_container_main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fr__left_container_links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
