@use "abstracts/variables" as v;
@use "vendors/normalize";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: v.$font;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}
.App {
  overflow: hidden;
}
