$desktop: 1224px;
$tablet: 768px;
$mobile: 760px;
$font: "Kumbh Sans", sans-serif;

// colors

$white: white;
$black: black;
$primaryColor1: lightcoral;

$gray-100: rgb(243 244 246);
$gray-200: rgb(229 231 235);
$gray-300: hsl(220, 13%, 75%);
