@use "../../stylesheets/abstracts/mixins" as m ;
@use "../../stylesheets/abstracts/variables" as v;


.feat__container {
   padding: 4rem 5rem;
   @include m.desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      gap: 1rem;
   }
  
}
.feat__item {
   @include m.flex-column;
   @include m.flex-center;
   padding: 1rem;
   > img {
      margin-bottom: auto;
   }
   > span {
      margin: 2rem 0;
      font-size: 1.1rem;
      font-weight: bold;
   }
   > p {
      opacity: .6;
      text-align: center;
   }
   @include m.desktop {
      padding: 1rem 3rem;
   }
   @include m.tablet {
      padding: 1rem 9rem;
   }
}